.login__input {
    border: none;
    outline: none;
    border-bottom: 2px solid #CCCCCC;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    padding: 0 0 13px 0;
    color: #CCCCCC;
    box-sizing: border-box;
    background-color: transparent;
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
}

.login__input:last-of-type {
    margin-bottom: 0;
}

.login__input::-webkit-input-placeholder {
    color: #C4C4C4;
    opacity: 1;
}

.login__input::-moz-placeholder {
    color: #C4C4C4;
    opacity: 1;
}

.login__input:-ms-input-placeholder {
    color: #C4C4C4;
    opacity: 1;
}

.login__input::-ms-input-placeholder {
    color: #C4C4C4;
    opacity: 1;
}

.login__input::placeholder {
    color: #C4C4C4;
    opacity: 1;
}