.elements__image {
    display: block;
    width: 100%;
    height: 282px;
    object-fit: cover;
    object-position: top;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.elements__image:hover {
    cursor: pointer;
}