.popup__close {
    width: 32px;
    height: 32px;
    background-image: url(../../../images/close_icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, .0);
    border: none;
    outline: none;
    position: absolute;
    right: -40px;
    top: -40px;
}

.popup__close:hover {
    cursor: pointer;
    opacity: 0.6;
}

@media screen and (max-width: 600px) {
    .popup__close {
        background-image: url(../../../images/close_small_icon.svg);
        width: 20px;
        height: 20px;
        right: 0;
        top: -36px;
    }
}