.popup__form-error {
    font-size: 12px;
    line-height: 1.21;
    font-weight: 400;
    color: #FF0000;
    display: block;
    box-sizing: border-box;
    margin-top: 5px;
    height: 38px;
    visibility: hidden;
}