.popup__submit-btn {
    max-width: 358px;
    width: 100%;
    height: 50.15px;
    border: none;
    outline: none;
    border-radius: 2px;
    font-size: 18px;
    line-height: 1.21;
    font-weight: 400;
    color: #fff;
    background-color: #000;
    margin: 0 auto;
    margin-top: 48px;
    box-sizing: border-box;
}

.popup__submit-btn:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .8);
}

@media screen and (max-width: 450px) {
    .popup__submit-btn {
        font-size: 14px;
        padding: 14px 0;
    }
}